<div class="centerText">
    <h1>New Post</h1>
</div>
<div class="container">
<form action="/new-post" method="post">
  <input class="form-control"  type="text" name="title" id="title" placeholder="Title"><br>
  <textarea class="form-control" cols="40" rows="5" name="content" id="content" placeholder="Content"></textarea><br>
  <input class="form-control"type="text" name="img_link" id="img_link" placeholder="Image Link"><br>
  <input type="submit" value="Submit Post">
</form>
</div>