<h1>New Post</h1>

<form action="/new-post" method="post">
  <input type="text" name="title" id="title" placeholder="Title">
  <textarea cols="40" rows="5" name="content" id="content" placeholder="Content"></textarea>
  <input type="text" name="img_link" id="img_link" placeholder="Image Link">
  <input type="submit" value="Go">
</form>