<div class="centerText">
  <h1>Sign In</h1>
</div>

<div class="container">
<form action="/sign-in" method="post">
  <input class="form-control" type="text" name="username" id="username" placeholder="Username"><br>
  <input class="form-control" type="password" name="password" id="password" placeholder="Password"><br>
  <input class="btn btn-primary" type="submit" value="Submit"><br>
</form>
</div>