<div class="centerText">
  <h1>Sign Up</h1>
</div>
<div class="container">
<form action="/sign-up" method="post">
  <input class="form-control" type="text" name="username" id="username" placeholder="Username"><br>
  <input class="form-control" type="password" name="password" id="password" placeholder="Password"><br>
  <input class="form-control" type="text" name="firstName" id="firstName" placeholder="First Name"><br>
  <input class="form-control" type="text" name="lastName" id="lastName" placeholder="Last Name"><br>

  <input class="form-control" type="text" name="email" id="email" placeholder="Email"><br>
  <input class="form-control" type="date" name="birthday" id="birthday" placeholder="Birthday"><br>
  <input type="submit" value="Go">
</form>
</div> 